h1 {
    color: lightseagreen;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    color: seagreen;
    font-size: larger;
    text-align: center;
    
  }

  footer a{
      color: seagreen;
  }

  .resumeFooter{
      position: relative;
  }

.body{
    margin: 0px;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.leftHeader{
    display: flex;
}

.navWrapper > .leftHeader > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.rightHeader{
    text-transform: uppercase;
    color: lightseagreen;
}

.navLink{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navLink a{
    color: lightseagreen;
    text-decoration: none;
    transition: color 0.5s;
}

.navLink:hover{
    border-bottom: 1px solid lightblue;
}

.navLink a:hover{
    color: lightblue;
}

.active-link-wrapper a:hover{
    color: lightblue;
}

.active-nav-link{
    border-bottom: 1px solid lightblue;
}

.active-nav-link a{
    color: lightblue !important;
}

/* Portfolio Styles */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 45%;
    padding-right: 45%;
    font-size: xx-large;
}

.img-text-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}

.img-darken{
    transition: 1s;
    filter: brightness(30%);
}

/* About Page*/
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 70%;
    margin-left: 20%;
}

.profile-content-wrapper{
    font-size: large;
    text-indent: 5%;
    padding: 30px;
}

.profile-image-wrapper .subtitle{
    transition: 1s;
    font-weight: 600;
    color: transparent;
    font-size: xx-large;
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.profile-image-wrapper:hover .subtitle{
    font-weight: 600;
    color: lightseagreen;
}


/* Resume */
.resumeWrapper{
    margin-left: 5%;
    margin-right: 5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resumeWrapper h1 {
    color: lightseagreen;
    text-align: left;
}

h2{
    color: lightseagreen;
}

.projects a{
    color: lightseagreen;
}

.COT-picture-wrapper{
    margin-top: 30%;
}
